## This is a Missions to Mars Web Scaping Project

In [94]:
#Import Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
from splinter import Browser
import pandas as pd

In [95]:
#Setup Chrome driver(splinter)
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## *Scrape Top Article Title and Teaser Body

In [96]:
# URL of page to be scraped
url = 'https://redplanetscience.com/'
browser.visit(url)
html=browser.html
soup=bs(html,'html.parser')

In [97]:
# Retrieve the latest news title
news_title=soup.find_all('div', class_='content_title')[0].text
# Retrieve the latest news paragraph
news_p=soup.find_all('div', class_='article_teaser_body')[0].text
#Retrieve Date of article release
news_date = soup.find_all('div', class_='list_date')[0].text
#Display news Title, article teaser body and article date
print("This is the latest article found on http://redplanetsceince.com/")
print(news_title)
print(news_p)
print(news_date)

This is the latest article found on http://redplanetsceince.com/
NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars
In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch.
December 17, 2021

## Obtain Featured Image URL from https://spaceimages-mars.com

In [102]:
url2 = 'https://spaceimages-mars.com/'
browser.visit(url2)

In [103]:
#This is kind of redundant knowing that there is only one featured image, but for the practice of for loop:)
for x in range(5):

    html2 = browser.html
    soup = bs(html2, 'html.parser')
    results = soup.find_all('img', class_='headerimage fade-in')
results
image_url = results[0]['src']
image_url

'image/featured/mars2.jpg'

In [104]:
#Combine url2 and image_url to get full featured_image url
featured_image_url = url2+image_url
print("Featured Image URL: " + featured_image_url)

Featured Image URL: https://spaceimages-mars.com/image/featured/mars2.jpg

## Obtain HTML Table for Mars Facts

In [105]:
#Go to third url3 and import the data into pandas dataframe
url3 = "https://galaxyfacts-mars.com"
browser.visit(url3)

In [106]:
html3 = browser.html
table_mars = pd.read_html(url3)[1]

table_mars

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [107]:
table_mars.columns = ['mars_parameter', 'mars_value']
table_mars

         mars_parameter                     mars_value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [108]:
table_mars1=table_mars.to_html()
table_mars1

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>mars_parameter</th>\n      <th>mars_value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [119]:
table_mars1.replace('\n','')
print(table_mars1)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mars_parameter</th>
      <th>mars_value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Scrape https://marshemispheres.com/ and Obtain Hemisphere Image URLs

In [110]:
# Scrape https://marshemispheres.com/ url to obtain information on Mars hemispheres 
url4='https://marshemispheres.com/'
browser.visit(url4)
html=browser.html
soup=bs(html,'html.parser')

In [111]:
# Use BeautifulSoup to get basic breakdown on 4 hemispheres
mars_hemispheres=soup.find('div',class_='collapsible results')
mars_parts=mars_hemispheres.find_all('div',class_='item')
hemisphere_image_urls=[]
mars_parts

[<div class="item">
 <a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="cerberus.html">
 <h3>Cerberus Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="schiaparelli.html"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="schiaparelli.html">
 <h3>Schiaparelli Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="syrtis.html"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="syrtis.html">
 <h3>Syrtis Major Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="valles.html"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="valles.html">
 <h3>Valles Marineris Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
 </div>
 <!-- end description -->
 </div>]

In [114]:
hemisphere_image_urls = []
for item in mars_parts:
    try:
        #Obtain title of each hemisphere description
        hemisphere = item.find('div', class_='description')
        title = hemisphere.h3.text
        #print(title)
        #Obtain hemispheres image url
        hemi_url = hemisphere.a['href']
        hemi_add_url = url4+hemi_url
        print(hemi_add_url)
        browser.visit(hemi_add_url)
        html4 = browser.html
        soup = bs(html4, 'html.parser')
        img_url = url4 + soup.find('img', class_='wide-image')['src']
        if title and img_url:
            hemisphere_dict = {"title": title, "img_url": img_url}
            
            print('-'*100)
            print(f"Title is: " + title)
            print(f"Full Image URL is: " + img_url)
            print('-'*100)
            
        hemisphere_image_urls.append(hemisphere_dict)
            
    except Exception as error:
        print(error)
    #print(hemi_add_url)

https://marshemispheres.com/cerberus.html
----------------------------------------------------------------------------------------------------
Title is: Cerberus Hemisphere Enhanced
Full Image URL is: https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
----------------------------------------------------------------------------------------------------
https://marshemispheres.com/schiaparelli.html
----------------------------------------------------------------------------------------------------
Title is: Schiaparelli Hemisphere Enhanced
Full Image URL is: https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
----------------------------------------------------------------------------------------------------
https://marshemispheres.com/syrtis.html
----------------------------------------------------------------------------------------------------
Title is: Syrtis Major Hemisphere Enhanced
Full Image URL is: https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
----------------------------------------------------------------------------------------------------
https://marshemispheres.com/valles.html
----------------------------------------------------------------------------------------------------
Title is: Valles Marineris Hemisphere Enhanced
Full Image URL is: https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
----------------------------------------------------------------------------------------------------

In [115]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

## Create Dictionary for Mongo DB

In [117]:
# Dictionary of all scraped data
mars_dict={
    "news_title":news_title,
    "news_p":news_p,
    "featured_image_url":featured_image_url,
    "mars_table":table_mars,
    "hemisphere_image_urls":hemisphere_image_urls
}

In [118]:
mars_dict

{'news_title': "NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars",
 'news_p': 'In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch. ',
 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars2.jpg',
 'mars_table':          mars_parameter                     mars_value
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
 'hemisphere_image_urls': [{'title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}